/* Estilos específicos para la página de poemas */

body {
    background-color: #f9f9f9;
}

header {
    background-image: url(poemas-background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #851212;
}

.content {
    margin: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
